<div class="container mt-5">
  <div class="row">
    <div class="col-8">
      <app-stepper [linearModeSelected]="false" #appStepper>
        <cdk-step [label]="'Address'" [completed]="checkoutForm.get('addressForm').valid">
          <app-checkout-address [checkoutForm]="checkoutForm"></app-checkout-address>
        </cdk-step>
        <cdk-step [label]="'Shipping'" [completed]="checkoutForm.get('shippingForm').valid">
          <app-checkout-shipping [checkoutForm]="checkoutForm"></app-checkout-shipping>
        </cdk-step>
        <cdk-step [label]="'Review'">
          <app-checkout-review></app-checkout-review>
        </cdk-step>
        <cdk-step [label]="'Payment'">
          <app-checkout-payment [checkoutForm]="checkoutForm"></app-checkout-payment>
        </cdk-step>                        
      </app-stepper>
    </div>
    <div class="col-4" *ngIf="(basketTotal$ | async) as totals">
      <app-order-totals
        source="checkout"
        [subtotal]="totals.subtotal"
        [shipping]="totals.shipping"
        [total]="totals.total">
      </app-order-totals>
    </div>
  </div>
</div>