<div class="container mt-2">
  <ng-container *ngIf="{basket: basket$ | async} as basketObj">
    <div *ngIf="basketObj.basket === null">
      <p>There are no items in you basket</p>
    </div>
    <div *ngIf="basketObj.basket as basket">
      <div class="container">
        <div class="row">
          <div class="col-12 py-5 mb-1">
            <app-basket-summary
              (remove)="removeBasketItem($event)"
              (decrement)="decrementItemQuantity($event)"
              (increment)="incrementItemQuantity($event)"
            >
            </app-basket-summary>
          </div>
        </div>
      
        <div class="row">
          <div class="col-6 offset-6">
            <app-order-totals></app-order-totals>
            <a routerLink="/checkout" class="btn btn-outline-primary py-2 btn-block"> 
              Proceed to checkout
            </a>
          </div>          
        </div>
        
      </div>
    </div>
  </ng-container> 
</div>


