<div class="container mt-4">
  <div class="row">
    
    <section class="col-3">
      <ng-container *ngIf="types && brands">
        <h5 class="text-warning ml-3 mt-4 mb-3">Sort</h5>
        <select class="custom-select mb-4" (change)="onSortSelected($event.target.value)">
          <option *ngFor="let sort of sortOptions" 
            [value]="sort.value"
            [attr.selected]="sort.value === shopParams.sort ? '': null"
           >{{sort.name}}</option>
        </select>
  
        <h5 class="text-warning ml-3">Brands</h5>
        <ul class="list-group my-3">
          <li class="list-group-item product-brand" 
            *ngFor="let brand of brands" 
            [value]="brand.id" 
            [class.active]="brand.id === shopParams.brandId"
            (click)="onBrandSelected(brand.id)">{{brand.name}}</li>
        </ul>
  
        <h5 class="text-warning ml-3">Types</h5>
        <ul class="list-group my-3">
          <li class="list-group-item product-type" 
            *ngFor="let type of types" 
            [value]="type.id" 
            [class.active]="type.id === shopParams.typeId"          
            (click)="onTypeSelected(type.id)">{{type.name}}</li>
        </ul>   
      </ng-container>
   
    </section>

    <section class="col-9">
      <div class="d-flex justify-content-between align-items-center pb-2">  
        <ng-container *ngIf="products">
          <app-paging-header 
            [pageNumber]="shopParams.pageNumber"
            [pageSize]="shopParams.pageSize"
            [totalCount]="totalCount"
          >
          </app-paging-header>

          <div class="form-inline" >
            <input 
              (keyup.enter)="onSearch()"
              #search
              type="text" 
              class="form-control mr-2" 
              style="width: 300px;" 
              placeholder="Search">
            <button class="btn btn-outline-primary my-2" (click)="onSearch()">Search</button>
            <button class="btn btn-outline-success ml-2 my-2" (click)="onReset()">Reset</button>
          </div>
        </ng-container>
      </div>

      <div class="row row-cols-3 g-3">
        <div class="col mb-4" *ngFor="let product of products">
          <app-product-item [product]="product"></app-product-item>
        </div>
      </div>

      <app-pager 
        [pageSize]="shopParams.pageSize" 
        [totalCount]="totalCount"
        (pageChanged)="onPageChanged($event)"
      ></app-pager>

    </section>    
  </div>
</div>
