<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/images/logo.png" alt="logo" height="70" style="max-height: 70px;">
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Enterprise</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Support</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>        
      </ul>
      <div class="d-flex align-items-center">
        <a>
          <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
          <div class="cart-no">5</div>
        </a>
        <button class="btn btn-outline-secondary me-2" type="submit">login</button>
        <button class="btn btn-outline-secondary me-3" type="submit">Sign Up</button>
      </div>      
    </div>
  </div>
</nav> -->

   
<header
    class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top">
    <img src="/assets/images/logo.png" class="logo" style="max-height: 70px;" alt="logo" routerLink="/" >
    <nav class="my-2 my-md-0 me-md-3 text-uppercase" style="font-size: larger;">
        <a class="p-2" [routerLink]="['/']" 
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >Home</a>
        <a class="p-2" routerLink="/shop" routerLinkActive="active">Shop</a>
        <a class="p-2" routerLink="/test-error" routerLinkActive="active">Errors</a>
    </nav>
    <div class="d-flex align-items-center">
        <a class="position-relative">
            <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"></i>
            <div class="cart-no">5</div>
        </a>
        <a class="btn btn-outline-secondary mr-2" href="#">Login</a>
        <a class="btn btn-outline-secondary mr-3" href="#">Sign up</a>
    </div>
</header>